/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
.App {
  text-align: center;
}
.App-header {
  background-image: url("./images/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main {
  position: relative;
  top: -25px;
  height: 480px;
  width: 980px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px silver;
}
.inner-main {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
  .title {
    position: absolute;
    top: -170px;
    color: #365a7a;
    font-size: 4rem;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .title:before {
    content: "";
    background: url("images/images/02n.svg") no-repeat;
    background-size: 100%;
    width: 250px;
    height: 250px;
    display: block;
  }
  .weather-box-list {
    width: 850px;
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: black;
    display: none;
}
